<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <br>

    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Server Status Logo"> 
    // I want to make this a container aswell, with multiple icons scrolling horizontally

    <h1>Server Status</h1>
    <p>This page displays the status of my media and file server.</p>
    <p>Click the button below to refresh the page.</p>
    <button name="refresh" type="button" onclick="window.location.reload();">Refresh</button>
    <div class="container">
        <div class="SambaBox">
            <h3>Samba Status:</h3>
            <p name="service_dataSMB"> {{ SambaService }} </p>
        </div>
        <div class="JellyBox">
            <h3>Jellyfin Status:</h3>
            <p name="service_dataJFN"> {{ JellyfinService }} </p>
        </div>
        <div class="XrdpBox">
            <h3>Xrdp Status:</h3>
            <p name="service_dataXRDP"> {{ XrdpService }} </p>
        </div>
    </div>
    <br>
    <p> Alternatively, you can check a specific service with more details by typing the name in the box below and clicking the button.</p>
    <form action="/customservice" method="POST">
        <input type="text" name="service_name" placeholder="Service Name" />
        <button type="submit">Check Service</button>
    </form>
</body>
</html>
